.deleteIcon {
  padding: 3%;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  height: fit-content;
  cursor: pointer;
  margin-left: 5px;
}

.container {
  background-color: #fff;
}
.buttonAdd {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
