.footer {
  width: 100%;
  background-color: #0056b3;
}

.userFooter {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 5px;
  font-size: 12px;
}

.userFooter__text {
  color: #fff;
  text-transform: uppercase;
}
