
.user-header {
    /* width: 100%; */
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
}

.user-header__link {
    display: flex;
    align-items: center;
    position: relative;
}

.user-header__logo {
    width: 70px;
}

.user-header__icons {
    display: flex;
    gap: 5px;
}

.user-header__user-icon {
    width: 20px;
    border-radius: 50%;
}

.user-header__user-icon:hover {
    transform: scale(1.2);
}

.user-header__user-icon_bell {
    position: relative;
}

.user-header__notifications {
    width: 15px;
    left: 15px;
    border-radius: 50%;
    background-color: rgb(245, 103, 103);
    position: absolute;
    font-size: 10px;
    text-align: center;
    top: -15px;
    left: 10px;
}


.user-menu {
    background: #fff;
    margin: 1px 0 0;
    padding: 5px;
    border: 1px solid #bebebe;
    max-height: 100px;
    overflow-y: auto;
    position: absolute;
    top: 32px;
    right: -10px;
    z-index: 10;

    font-weight: normal;
    font-size: 12px;
    text-align: left;
}
