.boxCreate {
  width: 320px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 20px 0;
}
.stylelinkIcon {
  margin: 9px 30px 10px auto;
}
.titleCreate {
  margin-top: 30px;
  color: #0056b3;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.15000000596046448px;
}
.inputVoting {
  margin-bottom: 30px;
}
.btnCreate {
  background-color: #0056b3;
  padding: 5px 10px;
  color: #ffffff;
}
