
.user-footer {
    width: 100%;
    background-color: #a09b9b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 12px;
}

.user-footer__links {
    display: flex;
    gap: 5px;
    color: #fff !important;
}

.user-footer__text {
    color: #fff;
}
